@use "../util" as u;

$height: 4px;
$width: 36px;
$whitespace: 7px;

.burger {
    all: unset;
    position: absolute;
    width: $width;
    aspect-ratio: 1/1;
    padding-inline: 0.3em;
    top: 45%;
    right: 5%;
    transform: translateY(-50%);
    z-index: 99;

    @include u.mq(small){
        display: none;
    }
}

.inner-burger,
.inner-burger::before,
.inner-burger::after {
    display: block;
    width: $width;
    height: $height;
    background-color: u.$accent;
    transition: transform 100ms ease-in-out;
}

.inner-burger{
    position: relative;
}

.inner-burger::before,
.inner-burger::after {
    position: absolute;
    content: "";
}

.inner-burger::before {
    top: calc(-#{$height} - #{$whitespace});
}

.inner-burger::after {
    top: calc(#{$height} + #{$whitespace});
}

.burger[aria-expanded="true"] .inner-burger {
    transform: rotateZ(45deg);
}

.burger[aria-expanded="true"] .inner-burger::before {
    transform: translateY(calc(#{$height} + #{$whitespace})) rotateZ(-90deg);
}

.burger[aria-expanded="true"] .inner-burger::after {
    display: none;
}
