@use "../util" as u;

footer {
  min-height: 100px;
  background-color: u.$black;
  padding-block-end: 2rem;
  color: u.$accent;

  h2{
    font-size: 2rem;
    text-align: center;
    margin-block-end: 1rem;
  }

  .socials{

    a{

      &:hover svg,
      &:focus svg,
      &:focus-visible svg{
        fill: u.$white;
        transform: scale(1.1);
      }
    }

    svg{
      width: 50px;
      fill: u.$accent;
      transition-property: fill, transform;
      transition-timing-function: ease-in-out;
      transition-duration: 150ms;
    }
  }
}
