footer {
  min-height: 100px;
  background-image: url(../assets/images/footerbg.png);
  padding-block: 2rem;
  color: var(--accent);
  margin-top: 2rem;

  @media screen and (min-width: 800px) {
    background-image: url(../assets/images/desktop_footer_bg.png);
    background-size: contain;
  }
}

.footer-container{

  @media screen and (min-width: 800px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }
}

.icons {
  display: flex;
}

#instagram-icon {
  display: block;

  img{
    width: 40%;
  }
}

#kontrol-icon {
  display: block;

  img{
    width: 40%;
  }
}

footer a {
  color: var(--accent);
  margin: 0;
}

footer a:visited {
  color: var(--accent);
}  