.season-section {
    position: relative;
    isolation: isolate;
    overflow: hidden;
    margin-block-end: 2rem;

    p {
        text-align: center;
    }

    .season-bg {
        padding-block: 2.7rem 3.6rem;
        background-image: url(../assets/images/texturehomeyule.png);
        display: grid;
        grid-template-columns: repeat(1, 1fr);

        @media screen and (min-width: 800px) {
            background-image: url(../assets/images/texture_homepage.png);
            grid-template-columns: repeat(2, 1fr);
        }
    }

    h2 {
        text-align: center;
        font-size: 2.5rem;
        color: var(--alt-text)
    }
}


.season-image {
    margin-inline: auto;

    @media screen and (min-width: 800px) {
        border-radius: 10px;
    }
    
}

.season-desc {
    width: 30ch;
    margin-inline: auto;
    margin-block-end: .8rem;
}

.season-btn {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    background-color: #fff;
    color: var(--alt-text);
    font-weight: 500;
    padding: .3rem .6rem;
    border-radius: 50px;
    border: 2px solid var(--alt-text);
    text-decoration: none;

    @media screen and (min-width: 800px) {
        padding: .8rem 1.6rem;
     }
}

.season-container {
    display: grid;
    gap: .5rem;
    justify-items: center;
    align-items: center;

    @media screen and (min-width: 800px) {
       display: flex;
       flex-direction: column;
       justify-content: flex-end;
    }
}

.stemning {
    z-index: -1;
    position: absolute;
    top: 580px;
}

.openinghours {
    background-color: var(--bg);
    border: solid 2px var(--accent);
    margin-inline: auto;
    margin-block: 4rem;
    display: flex;
    flex-direction: column;
    gap: .3rem;
    padding-block: .6rem;
}

.open-txt {
    font-weight: 500;
    text-align: center;
    color: var(--accent);
}

.open-title {
    font-size: 1.2rem;
    text-align: center;
    color: var(--accent);
}

.settingimages {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-block-end: 2rem;
    gap: .5rem;

    @media screen and (min-width: 800px) {
        grid-template-columns: repeat(3, 1fr);
    }

    img{
        aspect-ratio: 1;
    }
}
.insta-tag{
    text-align: center;
    margin-block-end: 1rem;
}

.instapics-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

    @media screen and (min-width: 800px) {
        grid-template-columns: repeat(4, 1fr);
    }

    img{
        border-radius: 10px;
    }
}