.season-section {
    position: relative;
    isolation: isolate;
    overflow: hidden;

    .season-bg {
        padding-block: 2.7rem 3.6rem;
        background-image: url(../assets/images/texturehomeyule.png);
    }

    h2 {
        text-align: center;
        font-size: 2.5rem;
        color: var(--alt-text)
    }
}


.season-image {
    margin-inline: auto;
}

.season-desc {
    width: 30ch;
    margin-inline: auto;
    margin-block-end: .8rem;
}

.season-btn {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    background-color: #fff;
    color: var(--alt-text);
    font-weight: 500;
    padding: .3rem .6rem;
    border-radius: 50px;
    border: 2px solid var(--alt-text);
    text-decoration: none;
}

.season-container {
    display: grid;
    gap: .5rem;
    justify-items: center;
    align-items: center;
}

.stemning {
    z-index: -1;
    position: absolute;
    top: 580px;
}

.openinghours {
    background-color: var(--bg);
    border: solid 2px var(--accent);
    margin-inline: auto;
    margin-block: 4rem;
    display: flex;
    flex-direction: column;
    gap: .3rem;
    padding-block: .6rem;
}

.open-txt {
    font-weight: 500;
    text-align: center;
    color: var(--accent);
}

.open-title {
    font-size: 1.2rem;
    text-align: center;
    color: var(--accent);
}