.order-list{
    padding-left: 1.1rem;
    margin-inline: auto;

    li::marker{
        font-size: 1.5em;
        line-height: 1;
    }
}

.pick-cake-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;

    h2{
        text-align: center;
    }
}

.order-item{

    &-container{
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 1rem;

        h3{
            text-align: center;
        }
    }

    &-image{
        width: 120px;
        border-radius: 50%;
    }

    &-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &-amount{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
    }
}