.selection-wrapper{

    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;

    .selection-link{
        display: inline-block;
        width: 100%;
        text-align: center;
        padding: 3rem;
        border-radius: 30px;
        color: #fff;
        font-size: 2.2rem;
        text-decoration: none;
        filter: brightness(80%);
    }

    .cakes{
        background-image: url(../assets/images/cakes.jpg);
        background-position: center;
        background-size: 100%;
    }

    .drinks{
        background-image: url(../assets/images/drinks.jpg);
        background-position: 30% 65%;
        background-size: 100%;
    }

    .vendors{
        background-image: url(../assets/images/vendors.jpg);
        background-position: 30% 65%;
        background-size: 100%;
    }
}

.price-section{
    margin-block-end: 2rem;

    h3{
        font-size: 1.6rem;
        text-align: center;
        color: var(--accent);
        grid-column: 1/-1;
    }
}
.price-container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;

    @media screen and (min-width: 600px) {
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
        gap: 1.4rem;
    }
}

.price-box{
    display: flex;
    justify-content: space-between;
    outline: 1px solid var(--accent);
    padding: 0.5em;
    color: var(--accent);
    font-style: italic;

    &-price{

        &::after{
            content: "kr.";
            margin-inline-start: 0.1em;
        }
    }
}

.menu-container{
    padding-block: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.2rem;   

    @media screen and (min-width: 600px) {
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem;
    }
}

.limited-menu-container{

    .menu-item{

        &-image{
            aspect-ratio: 16/8;
            object-fit: cover;
            object-position: 50% 60%;
        }
    }
}

.menu-item{
    display: grid;
    color: var(--accent);

    &-image{
        border-radius: 14px;
    }
    
    &-description{
        margin-right: .5rem;
    }
}