:root{
    --bg: hsl(60, 17%, 91%);
    --accent: hsl(36, 58%, 34%);
    
}

html{
    font-size: 100%;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    background-color: var(--bg);
}

.body{
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.wrapper{
    margin-inline: auto;
    padding-inline: 1.5rem;
    width: 100%;
    max-width: 80rem;
}