@use "../util" as u;

.flex {
    display: flex;

    &-center {
        justify-content: center;
        align-items: center;
    }
    &-jc-c {
        justify-content: center;
    }
    &-jc-sb {
        justify-content: space-between;
    }
    &-jc-fe {
        justify-content: flex-end;
    }
    &-ai-c {
        align-items: center;
    }
    &-ai-fe {
        align-items: flex-end;
    }
    &c{
        display: flex;
        flex-direction: column;
    }
    &-responsive{
        display: flex;
        flex-direction: column;

        @include u.mq(small){
            flex-direction: row;
        }
    }
}

.gap {
    &-50{
        gap: 0.5rem;
    }
    &-100 {
        gap: 1rem;
    }
    &-150 {
        gap: 1.5rem;
    }
    &-200 {
        gap: 2rem;
    }
}