/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

/* Remove margin and padding from lists */
ol,
ul {
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html,
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: geometricPrecision;
  line-height: 1.5;
  overflow-x: hidden;
}

/* Make images easier to work with */
img,
picture,
svg {
  display: block;
  max-width: 100%;
}

img[width] {
  height: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Hidden elements are hidden */
[aria-hidden=true],
[hidden] {
  display: none;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html,
html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.flex {
  display: flex;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
.flex-jc-c {
  justify-content: center;
}
.flex-jc-sb {
  justify-content: space-between;
}
.flex-jc-fe {
  justify-content: flex-end;
}
.flex-ai-c {
  align-items: center;
}
.flex-ai-fe {
  align-items: flex-end;
}
.flexc {
  display: flex;
  flex-direction: column;
}
.flex-responsive {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 38em) {
  .flex-responsive {
    flex-direction: row;
  }
}

.gap-50 {
  gap: 0.5rem;
}
.gap-100 {
  gap: 1rem;
}
.gap-150 {
  gap: 1.5rem;
}
.gap-200 {
  gap: 2rem;
}

:root {
  --oldbg: hsl(60, 17%, 91%);
  --bg: hsl(50, 37%, 97%);
  --accent: hsl(36, 58%, 34%);
  --alt-text: hsl(332, 33%, 20%);
  --minwidth: 600px;
}

html {
  font-size: 100%;
  overflow-x: hidden;
  font-family: museo-sans-rounded, sans-serif;
  font-style: normal;
  font-weight: 300;
  background-color: var(--bg);
}

h1,
h2,
h3 {
  font-weight: 500;
}

#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.wrapper {
  margin-inline: auto;
  padding-inline: 1.5rem;
  width: 100%;
  max-width: 80rem;
}

@media screen and (min-width: 800px) {
  .big-wrapper {
    margin-inline: auto;
    padding-inline: 1.5rem;
    width: 100%;
    max-width: 80rem;
  }
  .big-wrapper .wrapper {
    max-width: 100%;
    padding-inline: 0;
  }
}

.grid-d2 {
  display: grid;
  grid-template-columns: 1fr;
}
@media screen and (min-width: 800px) {
  .grid-d2 {
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
}

.section-intro {
  color: var(--accent);
  -webkit-margin-after: 2rem;
          margin-block-end: 2rem;
}
.section-intro h3 {
  text-align: center;
  -webkit-margin-after: 0.8rem;
          margin-block-end: 0.8rem;
}
.section-intro p {
  text-align: center;
}
.section-intro .intro-text {
  max-width: 72ch;
  margin-inline: auto;
  -webkit-margin-after: 1rem;
          margin-block-end: 1rem;
}

.title-box {
  display: flex;
  justify-content: center;
}
.title-box > * {
  position: relative;
  display: inline-block;
  margin-bottom: 1.2rem;
  font-size: 1.8rem;
  line-height: 1.3;
}
.title-box > *::after {
  content: "";
  width: 120%;
  height: 2px;
  background-color: var(--accent);
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translate(-50%, 0);
}
.title-box-home > * {
  font-size: 1.5rem;
}
.title-box-home > *::after {
  width: 105%;
}

header {
  box-shadow: 0 1px #875F24;
  padding-block: 0.8rem;
  position: relative;
}
header .wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  justify-items: center;
}
@media screen and (min-width: 600px) {
  header .wrapper {
    align-items: baseline;
  }
}
@media screen and (min-width: 600px) {
  header .wrapper > :first-child {
    display: none;
  }
}
header .wrapper > :nth-child(2) {
  grid-column: 2/3;
}
@media screen and (min-width: 600px) {
  header .wrapper > :nth-child(2) {
    grid-column: 1/2;
    justify-self: start;
  }
}
header .wrapper > :last-child {
  grid-column: 3/-1;
}
@media screen and (min-width: 600px) {
  header .wrapper > :last-child {
    justify-self: end;
  }
}

.primary-navigation {
  background-color: var(--bg);
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  padding-block: 2rem;
  translate: 0 99%;
  transition: translate 500ms ease;
  z-index: 888;
  box-shadow: 0 1px #875F24;
}
@media screen and (min-width: 600px) {
  .primary-navigation {
    translate: 0;
    position: relative;
    flex-direction: row;
    padding-block: 0;
    box-shadow: 0 0;
  }
}
.primary-navigation[data-visible=false] {
  translate: 100% 99%;
}
@media screen and (min-width: 600px) {
  .primary-navigation[data-visible=false] {
    translate: 0;
  }
}
.primary-navigation li {
  text-align: center;
  list-style-type: none;
}
.primary-navigation a {
  color: black;
  text-decoration: none;
  font-size: 1.3rem;
}
.primary-navigation a:hover {
  text-decoration: underline;
}

.back-btn {
  border: none;
  background: transparent;
}
.back-btn img {
  rotate: 180deg;
}

footer {
  min-height: 100px;
  background-image: url(../assets/images/footerbg.png);
  padding-block: 2rem;
  color: var(--accent);
  margin-top: 2rem;
}

.icons {
  display: flex;
}

#instagram-icon {
  width: 40%;
}

#kontrol-icon {
  width: 40%;
}

footer a {
  color: var(--accent);
  margin: 0;
}

footer a:visited {
  color: var(--accent);
}

.season-section {
  position: relative;
  isolation: isolate;
  overflow: hidden;
}
.season-section p {
  text-align: center;
}
.season-section .season-bg {
  padding-block: 2.7rem 3.6rem;
  background-image: url(../assets/images/texturehomeyule.png);
}
.season-section h2 {
  text-align: center;
  font-size: 2.5rem;
  color: var(--alt-text);
}

.season-image {
  margin-inline: auto;
}

.season-desc {
  width: 30ch;
  margin-inline: auto;
  -webkit-margin-after: 0.8rem;
          margin-block-end: 0.8rem;
}

.season-btn {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  background-color: #fff;
  color: var(--alt-text);
  font-weight: 500;
  padding: 0.3rem 0.6rem;
  border-radius: 50px;
  border: 2px solid var(--alt-text);
  text-decoration: none;
}

.season-container {
  display: grid;
  gap: 0.5rem;
  justify-items: center;
  align-items: center;
}

.stemning {
  z-index: -1;
  position: absolute;
  top: 580px;
}

.openinghours {
  background-color: var(--bg);
  border: solid 2px var(--accent);
  margin-inline: auto;
  margin-block: 4rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  padding-block: 0.6rem;
}

.open-txt {
  font-weight: 500;
  text-align: center;
  color: var(--accent);
}

.open-title {
  font-size: 1.2rem;
  text-align: center;
  color: var(--accent);
}

.settingimages {
  display: flex;
  width: 33.33%;
}

.selection-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media screen and (min-width: 800px) {
  .selection-wrapper {
    flex-direction: row;
    margin-top: 5rem;
  }
}
.selection-wrapper .selection-link {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 3rem;
  border-radius: 30px;
  color: #fff;
  font-size: 2.2rem;
  text-decoration: none;
  background-size: 100%;
}
@media screen and (min-width: 800px) {
  .selection-wrapper .selection-link {
    padding-block: 5rem;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.selection-wrapper .cakes {
  background-image: url(../assets/images/cakes.jpg);
  background-position: center;
}
.selection-wrapper .drinks {
  background-image: url(../assets/images/drinks.jpg);
  background-position: 30% 65%;
}
.selection-wrapper .vendors {
  background-image: url(../assets/images/vendors.jpg);
  background-position: 30% 65%;
}

.price-section {
  -webkit-margin-after: 2rem;
          margin-block-end: 2rem;
}
.price-section h3 {
  font-size: 1.6rem;
  text-align: center;
  color: var(--accent);
  -webkit-margin-after: 1.2rem;
          margin-block-end: 1.2rem;
}

.price-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  -webkit-margin-after: 1rem;
          margin-block-end: 1rem;
}
@media screen and (min-width: 800px) {
  .price-container {
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.4rem;
  }
}

.price-box {
  display: flex;
  justify-content: space-between;
  outline: 1px solid var(--accent);
  padding: 0.5em;
  color: var(--accent);
  font-style: italic;
}
.price-box-price::after {
  content: "kr.";
  -webkit-margin-start: 0.1em;
          margin-inline-start: 0.1em;
}

.menu-container {
  padding-block: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.2rem;
}
@media screen and (min-width: 800px) {
  .menu-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
  }
}

.limited-menu-container .menu-item-image {
  aspect-ratio: 16/8;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 60%;
     object-position: 50% 60%;
}

.petitemix-img {
  -webkit-margin-after: 1rem;
          margin-block-end: 1rem;
}

.petite-menu-container {
  -webkit-padding-before: 2rem;
          padding-block-start: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.2rem;
}
@media screen and (min-width: 800px) {
  .petite-menu-container {
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }
}

.menu-item {
  display: grid;
  display: flex;
  flex-direction: column;
  color: var(--accent);
}
.menu-item .menu-item-title {
  text-align: left;
  -webkit-margin-after: 0.5rem;
          margin-block-end: 0.5rem;
  line-height: 1.3;
}
.menu-item .menu-item-image {
  border-radius: 14px;
  -webkit-margin-after: 0.5rem;
          margin-block-end: 0.5rem;
}
.menu-item .menu-item-desc {
  margin-inline: 0;
}

.full-image {
  aspect-ratio: 6/5;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-margin-after: 2rem;
          margin-block-end: 2rem;
}
.full-image-bottom {
  -o-object-position: bottom;
     object-position: bottom;
}

.vendor-link {
  color: var(--alt-text);
}

.order-list {
  padding-left: 1.4rem;
  margin-inline: auto;
  -webkit-margin-after: 1.2rem;
          margin-block-end: 1.2rem;
}
.order-list li::marker {
  font-size: 1.5em;
  line-height: 1;
}

.pick-cake-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  -webkit-margin-after: 2rem;
          margin-block-end: 2rem;
}
.pick-cake-container h2 {
  text-align: center;
}
@media screen and (min-width: 800px) {
  .pick-cake-container h2 {
    text-align: left;
  }
}

.order-texture {
  background-image: url(../assets/images/textur_kager_mobil.png);
}

.order-item-container {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
}
.order-item-container h3 {
  text-align: center;
  -webkit-margin-after: 0.4rem;
          margin-block-end: 0.4rem;
}
.order-item-image {
  width: 120px;
  border-radius: 50%;
}
.order-item-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.order-item-amount {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.counter-btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
  position: relative;
}
.counter-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.counter-btn svg {
  fill: var(--accent);
}

.order-overview-section {
  color: var(--accent);
  -webkit-margin-after: 3rem;
          margin-block-end: 3rem;
}
.order-overview-section h2 {
  -webkit-margin-after: 0.4rem;
          margin-block-end: 0.4rem;
  line-height: 1.2;
}
.order-overview-section hr {
  border-top: 2px solid var(--accent);
}
.order-overview-container {
  display: flex;
  justify-content: space-between;
}
.order-overview-container > * {
  font-style: italic;
}
.order-overview-total {
  display: flex;
  justify-content: space-between;
}
.order-overview-total h3 {
  font-size: 1.4rem;
  font-weight: bold;
}
.order-overview-total p {
  font-style: italic;
  -webkit-text-decoration: underline double;
          text-decoration: underline double;
}

.order-button {
  cursor: pointer;
  font-size: 2rem;
  font-weight: bolder;
  border-radius: 3rem;
  border: 2px solid var(--accent);
  background-color: transparent;
  color: var(--accent);
  padding: 0.2rem 2.2rem;
}
.order-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-margin-before: 1.4rem;
          margin-block-start: 1.4rem;
}

.confirm-form {
  color: var(--accent);
}
.confirm-form h2 {
  -webkit-margin-after: 0.8rem;
          margin-block-end: 0.8rem;
}
.confirm-form .form-desc {
  -webkit-margin-after: 1.2em;
          margin-block-end: 1.2em;
}
.confirm-form label {
  display: block;
  font-size: 1.1rem;
  -webkit-margin-after: 0.4em;
          margin-block-end: 0.4em;
}
.confirm-form input,
.confirm-form textarea {
  border: 1px solid var(--accent);
  background-color: transparent;
  width: 100%;
  padding: 0.4em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
}
.confirm-form input::-moz-placeholder, .confirm-form textarea::-moz-placeholder {
  color: var(--accent);
}
.confirm-form input:-ms-input-placeholder, .confirm-form textarea:-ms-input-placeholder {
  color: var(--accent);
}
.confirm-form input::placeholder,
.confirm-form textarea::placeholder {
  color: var(--accent);
}
.confirm-form textarea {
  resize: none;
}

.banner {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 1fr auto 1fr;
  height: 140px;
  overflow: hidden;
  -webkit-margin-after: 2rem;
          margin-block-end: 2rem;
}
.banner-img {
  grid-column: 1/-1;
  grid-row: 1/-1;
  -o-object-fit: fill;
     object-fit: fill;
}
.banner-img img {
  -o-object-fit: fill;
     object-fit: fill;
}
.banner h1 {
  grid-column: 2/3;
  grid-row: 2/3;
  color: #fff;
}

main:not(:has(.banner)) {
  padding-top: 2rem;
}

.burger {
  all: unset;
  position: absolute;
  width: 36px;
  aspect-ratio: 1/1;
  padding-inline: 0.3em;
  top: 45%;
  right: 5%;
  transform: translateY(-50%);
  z-index: 99;
}
@media only screen and (min-width: 38em) {
  .burger {
    display: none;
  }
}

.inner-burger,
.inner-burger::before,
.inner-burger::after {
  display: block;
  width: 36px;
  height: 4px;
  background-color: hsl(263deg, 62%, 49%);
  transition: transform 100ms ease-in-out;
}

.inner-burger {
  position: relative;
}

.inner-burger::before,
.inner-burger::after {
  position: absolute;
  content: "";
}

.inner-burger::before {
  top: calc(-4px - 7px);
}

.inner-burger::after {
  top: calc(4px + 7px);
}

.burger[aria-expanded=true] .inner-burger {
  transform: rotateZ(45deg);
}

.burger[aria-expanded=true] .inner-burger::before {
  transform: translateY(calc(4px + 7px)) rotateZ(-90deg);
}

.burger[aria-expanded=true] .inner-burger::after {
  display: none;
}

/*new burger*/
.newburger {
  background-color: transparent;
  border: none;
}
@media screen and (min-width: 600px) {
  .newburger {
    display: none;
  }
}
.newburger svg {
  transition: 500ms ease;
}

#preloader {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 999;
  background-position: center;
  background-size: 200%;
  background-color: #0e1120;
  background-repeat: no-repeat;
}
@media only screen and (min-width: 38em) {
  #preloader {
    background-size: 50%;
  }
}